.menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.mat{
    opacity: 1;
color: rgba(82,82,82,1);
font-family: "MarkPro";
font-size: 36px;
font-weight: 400;
font-style: normal;
letter-spacing: 0px;
text-align: left;
line-height: 60px;
width: 12%;
/* height: 20px; */
margin:0% 7%;
/* border:  5%; */
}

@media screen and (max-width: 370px) {
    .mat{ width: 3%; font-size: 12px;}
.itm{width: 5%;}
.itmn{font-size: 10px;}

}


.itm {
    /* margin: 2% 4% 2% 0%; */
    display: flex;
    flex-direction: row;
    gap: 5%;
    opacity: 1;
    margin:0%  7%;
    width: 4.5%;
    height: 40px;}
.itmn{
    opacity: 1;
    color: rgba(51,51,58,1);
    font-family: "ProximaNova-Semibold";
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1px;
    text-align: left;
    line-height: 40px;
    text-transform: uppercase;
}