.add-bar-container{
    max-width: 100%;
    background-color: black;
    color:white;
    /* height: 30%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

    @media screen and (max-width: 400px){
 .add-bar-container{
    /* width: px;
    height: 70px; */
    display: flex;
    justify-content: center;
    align-items: center;
 }
}
