.bigger{
    border-top: solid 5px black;
    width: 263px;
    height: 280px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
   
    padding-right: 45px;
    padding-bottom: 50px;

}