.Recb{
    opacity: 1;
color: rgba(255,255,255,1);
font-family: "ProximaNova-Bold";
font-size: 12px;
font-weight: 700;
font-style: normal;
letter-spacing: 2px;
text-align: center;
line-height: 20px;
text-transform: uppercase;
background-color: black;
padding: 2%;
 margin-bottom: 3%;

}
.recbudiv{
    display: flex;
    justify-content: center;
}
