
.picabout{
   
    /* width: 555px;
    height: 430px; */
    /* opacity: 1;
    margin: 15px;
    padding: 15px;
border: 100px;
background-size: 100%; */
width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding: 30px; */

}


