.foot{
margin: 50px;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 50px;
}
.bigfoot{ 
    max-width: 100%;
       opacity: 1;
background-color: rgba(51,51,58, 1);

}

.cow{
    
    opacity: 1;
color: rgba(222,222,222,1);
font-family: "ProximaNova-Regular";
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: 0px;
text-align: left;
line-height: 25px;
margin-bottom: 40px;
width: 209px;
height: 25px;

}
@media screen and (max-width:400px){
    .bigfoot{
        width: 300px;
    }
    .foot {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}
/* .container {
    padding: 41px 10.4% 41px 10.4%;
    background-color: #33333a;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 280px;
  }
  
  .topFooter {
    display: flex;
    gap: 5.27%;
  }
  
  .footerData ul {
    list-style: none;
    color: rgba(222, 222, 222, 1);
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    line-height: 25px;
  } 
  
  .container .subscribe-item h5 {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;
    line-height: 30px;
  }
  
  /* responsive responsive responsive responsive */
  /* @media only screen and (max-width: 375px) {
    .topFooter {
      flex-wrap: wrap;
    }
  }*/ 